html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

/* Mixins */
.clearfix:after, .home .new-appointment:after, .time-of-day:after, .available-timeslots:after {
    content: "";
    display: table;
    clear: both; }

/* Fonts */
@font-face {
    font-family: 'BentonSansLightRegular';
    src: url("https://fonts.iu.edu/fonts/benton-sans-light-regular.eot");
    src: url("https://fonts.iu.edu/fonts/benton-sans-light-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-light-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-light-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-light-regular.svg#BentonSansLightRegular") format("svg");
    font-style: normal;
    font-weight: normal; }
/* Colors */
/* Borders */
a:not(.button) {
    color: #990000; }
a:not(.button):hover {
    color: #660000;
    text-decoration: underline; }

a.close-reveal-modal:hover {
    color: inherit;
    text-decoration: inherit; }

/* Typography */
h1 {
    font-size: 1.875rem; }

h2 {
    font-size: 1.5rem; }

@media only screen and (min-width: 64.063em) {
    #branding-bar img {
        left: 0.8rem; } }
meta.foundation-version {
    font-family: "/5.5.1/"; }

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0; }

meta.foundation-mq-small-only {
    font-family: "/only screen and (max-width: 40em)/";
    width: 0; }

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em; }

meta.foundation-mq-medium-only {
    font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
    width: 40.063em; }

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em; }

meta.foundation-mq-large-only {
    font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
    width: 64.063em; }

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em; }

meta.foundation-mq-xlarge-only {
    font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
    width: 90.063em; }

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em; }

meta.foundation-data-attribute-namespace {
    font-family: false; }

html, body {
    height: 100%; }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html,
body {
    font-size: 100%; }

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto; }

a:hover {
    cursor: pointer; }

img {
    max-width: 100%;
    height: auto; }

img {
    -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important; }

.left {
    float: left !important; }

.right {
    float: right !important; }

.clearfix:before, .home .new-appointment:before, .time-of-day:before, .available-timeslots:before, .clearfix:after, .home .new-appointment:after, .time-of-day:after, .available-timeslots:after {
    content: " ";
    display: table; }
.clearfix:after, .home .new-appointment:after, .time-of-day:after, .available-timeslots:after {
    clear: both; }

.hide {
    display: none; }

.invisible {
    visibility: hidden; }

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

img {
    display: inline-block;
    vertical-align: middle; }

textarea {
    height: auto;
    min-height: 50px; }

select {
    width: 100%; }

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem; }
.row:before, .row:after {
    content: " ";
    display: table; }
.row:after {
    clear: both; }
.row.collapse > .column,
.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
.row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
.row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
.row .row:before, .row .row:after {
    content: " ";
    display: table; }
.row .row:after {
    clear: both; }
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none; }
.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table; }
.row .row.collapse:after {
    clear: both; }

.column,
.columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left; }

[class*="column"] + [class*="column"]:last-child {
    float: right; }

[class*="column"] + [class*="column"].end {
    float: left; }

@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .small-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .small-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .small-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .small-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .small-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .small-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .small-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .small-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; }

    .small-1 {
        width: 8.33333%; }

    .small-2 {
        width: 16.66667%; }

    .small-3 {
        width: 25%; }

    .small-4 {
        width: 33.33333%; }

    .small-5 {
        width: 41.66667%; }

    .small-6 {
        width: 50%; }

    .small-7 {
        width: 58.33333%; }

    .small-8 {
        width: 66.66667%; }

    .small-9 {
        width: 75%; }

    .small-10 {
        width: 83.33333%; }

    .small-11 {
        width: 91.66667%; }

    .small-12 {
        width: 100%; }

    .small-offset-0 {
        margin-left: 0% !important; }

    .small-offset-1 {
        margin-left: 8.33333% !important; }

    .small-offset-2 {
        margin-left: 16.66667% !important; }

    .small-offset-3 {
        margin-left: 25% !important; }

    .small-offset-4 {
        margin-left: 33.33333% !important; }

    .small-offset-5 {
        margin-left: 41.66667% !important; }

    .small-offset-6 {
        margin-left: 50% !important; }

    .small-offset-7 {
        margin-left: 58.33333% !important; }

    .small-offset-8 {
        margin-left: 66.66667% !important; }

    .small-offset-9 {
        margin-left: 75% !important; }

    .small-offset-10 {
        margin-left: 83.33333% !important; }

    .small-offset-11 {
        margin-left: 91.66667% !important; }

    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none; }

    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left; }

    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right; }

    .row.small-collapse > .column,
    .row.small-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .row.small-collapse .row {
        margin-left: 0;
        margin-right: 0; }
    .row.small-uncollapse > .column,
    .row.small-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; } }
@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .medium-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .medium-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .medium-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .medium-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .medium-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .medium-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; }

    .medium-1 {
        width: 8.33333%; }

    .medium-2 {
        width: 16.66667%; }

    .medium-3 {
        width: 25%; }

    .medium-4 {
        width: 33.33333%; }

    .medium-5 {
        width: 41.66667%; }

    .medium-6 {
        width: 50%; }

    .medium-7 {
        width: 58.33333%; }

    .medium-8 {
        width: 66.66667%; }

    .medium-9 {
        width: 75%; }

    .medium-10 {
        width: 83.33333%; }

    .medium-11 {
        width: 91.66667%; }

    .medium-12 {
        width: 100%; }

    .medium-offset-0 {
        margin-left: 0% !important; }

    .medium-offset-1 {
        margin-left: 8.33333% !important; }

    .medium-offset-2 {
        margin-left: 16.66667% !important; }

    .medium-offset-3 {
        margin-left: 25% !important; }

    .medium-offset-4 {
        margin-left: 33.33333% !important; }

    .medium-offset-5 {
        margin-left: 41.66667% !important; }

    .medium-offset-6 {
        margin-left: 50% !important; }

    .medium-offset-7 {
        margin-left: 58.33333% !important; }

    .medium-offset-8 {
        margin-left: 66.66667% !important; }

    .medium-offset-9 {
        margin-left: 75% !important; }

    .medium-offset-10 {
        margin-left: 83.33333% !important; }

    .medium-offset-11 {
        margin-left: 91.66667% !important; }

    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none; }

    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left; }

    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right; }

    .row.medium-collapse > .column,
    .row.medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .row.medium-collapse .row {
        margin-left: 0;
        margin-right: 0; }
    .row.medium-uncollapse > .column,
    .row.medium-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }
@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; }

    .large-1 {
        width: 8.33333%; }

    .large-2 {
        width: 16.66667%; }

    .large-3 {
        width: 25%; }

    .large-4 {
        width: 33.33333%; }

    .large-5 {
        width: 41.66667%; }

    .large-6 {
        width: 50%; }

    .large-7 {
        width: 58.33333%; }

    .large-8 {
        width: 66.66667%; }

    .large-9 {
        width: 75%; }

    .large-10 {
        width: 83.33333%; }

    .large-11 {
        width: 91.66667%; }

    .large-12 {
        width: 100%; }

    .large-offset-0 {
        margin-left: 0% !important; }

    .large-offset-1 {
        margin-left: 8.33333% !important; }

    .large-offset-2 {
        margin-left: 16.66667% !important; }

    .large-offset-3 {
        margin-left: 25% !important; }

    .large-offset-4 {
        margin-left: 33.33333% !important; }

    .large-offset-5 {
        margin-left: 41.66667% !important; }

    .large-offset-6 {
        margin-left: 50% !important; }

    .large-offset-7 {
        margin-left: 58.33333% !important; }

    .large-offset-8 {
        margin-left: 66.66667% !important; }

    .large-offset-9 {
        margin-left: 75% !important; }

    .large-offset-10 {
        margin-left: 83.33333% !important; }

    .large-offset-11 {
        margin-left: 91.66667% !important; }

    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none; }

    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right; }

    .row.large-collapse > .column,
    .row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .row.large-collapse .row {
        margin-left: 0;
        margin-right: 0; }
    .row.large-uncollapse > .column,
    .row.large-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }
.reveal-modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1004;
    display: none;
    left: 0; }

.reveal-modal {
    visibility: hidden;
    display: none;
    position: absolute;
    z-index: 1005;
    width: 100%;
    top: 0;
    border-radius: 3px;
    left: 0;
    background-color: #FFFFFF;
    padding: 1.875rem;
    border: solid 1px #666666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
@media only screen and (max-width: 40em) {
    .reveal-modal {
        min-height: 100vh; } }
.reveal-modal .column, .reveal-modal .columns {
    min-width: 0; }
.reveal-modal > :first-child {
    margin-top: 0; }
.reveal-modal > :last-child {
    margin-bottom: 0; }
@media only screen and (min-width: 40.063em) {
    .reveal-modal {
        width: 80%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
@media only screen and (min-width: 40.063em) {
    .reveal-modal {
        top: 6.25rem; } }
.reveal-modal.radius {
    border-radius: 3px; }
.reveal-modal.round {
    border-radius: 1000px; }
.reveal-modal.collapse {
    padding: 0; }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.tiny {
        width: 30%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.small {
        width: 40%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.medium {
        width: 60%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.large {
        width: 70%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.xlarge {
        width: 95%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
.reveal-modal.full {
    top: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none !important;
    margin-left: 0 !important; }
@media only screen and (min-width: 40.063em) {
    .reveal-modal.full {
        width: 100%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto; } }
.reveal-modal.toback {
    z-index: 1003; }
.reveal-modal .close-reveal-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.625rem;
    right: 1.375rem;
    color: #AAAAAA;
    font-weight: bold;
    cursor: pointer; }

/*! Tablesaw - v1.0.3 - 2015-01-27
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2015 Filament Group; Licensed MIT */
/*! Tablesaw - v1.0.3 - 2015-01-27
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2015 Filament Group; Licensed MIT */
table.tablesaw {
    empty-cells: show;
    max-width: 100%;
    width: 100%; }

.tablesaw {
    border-collapse: collapse;
    width: 100%; }

/* Structure */
.tablesaw {
    border: 0;
    padding: 0; }

.tablesaw th,
.tablesaw td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em .7em; }

.tablesaw thead tr:first-child th {
    padding-top: .9em;
    padding-bottom: .7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
    border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
    display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
    /* Show the table cells as a block level element */
    .tablesaw-stack td,
    .tablesaw-stack th {
        text-align: left;
        display: block; }

    .tablesaw-stack tr {
        clear: both;
        display: table-row; }

    /* Make the label elements a percentage width */
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
        display: block;
        padding: 0 .6em 0 0;
        width: 30%;
        display: inline-block; }

    /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
    .tablesaw-stack th .tablesaw-cell-label-top,
    .tablesaw-stack td .tablesaw-cell-label-top {
        display: block;
        padding: .4em 0;
        margin: .4em 0; }

    .tablesaw-cell-label {
        display: block; }

    /* Avoid double strokes when stacked */
    .tablesaw-stack tbody th.group {
        margin-top: -1px; }

    /* Avoid double strokes when stacked */
    .tablesaw-stack th.group b.tablesaw-cell-label {
        display: none !important; } }
/* Reveal Overrides */
.reveal-modal h2 {
    font-size: 1.75rem; }
.reveal-modal h3 {
    margin-top: 1.75rem;
    font-size: 1.25rem;
    font-family: BentonSansLightRegular, "Arial Narrow", Helvetica, sans-serif; }
.reveal-modal p {
    font-size: 1rem; }
.reveal-modal .lead:nth-of-type(1) {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    font-family: BentonSansRegular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #dbdbdb; }
.reveal-modal .lead:nth-of-type(1) + h3 {
    margin-top: 0;
    padding-top: 1.5rem; }

.nav-secondary {
    padding-right: 3rem;
    pointer-events: auto; }
.nav-secondary ul li {
    font-size: 0.875rem;
    text-transform: none; }

header > div {
    border-bottom: 1px solid #dbdbdb; }
header h1 {
    margin-top: 39px;
    font-size: 1.4rem;
    width: 100%; }
header h1 span {
    font-family: BentonSansLightRegular, "Arial Narrow", Helvetica, sans-serif; }

/* Persistent Info */
.persistent-info {
    padding: 0; }
.persistent-info > div {
    border-bottom: 1px solid #dbdbdb; }
.persistent-info h2 {
    font-size: 1.2rem;
    font-family: BentonSansLightRegular, "Arial Narrow", Helvetica, sans-serif; }

.section.persistent-info + section {
    margin-top: 0; }

.persistent-info + section:last-of-type {
    margin-top: 0 !important; }

.personal-info,
.emergency-info {
    padding: 1.5rem 0.75rem 0.3rem 0.75rem; }

.js .personal-info h2,
body:not(.home) .emergency-info h2 {
    position: relative; }
.js .personal-info h2:after,
body:not(.home) .emergency-info h2:after {
    font-family: Arial;
    content: "\002B";
    position: absolute;
    right: 0.5rem;
    top: -1px !important;
    line-height: 3rem;
    font-size: 2rem; }
.js .personal-info h2.open:after,
body:not(.home) .emergency-info h2.open:after {
    content: "\2212"; }

.personal-info,
body:not(.home) .emergency-info {
    padding-top: 0.3rem; }
.personal-info h2,
body:not(.home) .emergency-info h2 {
    margin: 0;
    padding: 0.75rem 0;
    cursor: pointer; }

.personal-info ul {
    margin-left: 0;
    list-style: none; }
.personal-info p {
    margin-top: 0.5rem; }

.emergency-info {
    border-bottom: 1px solid #dbdbdb; }
.emergency-info h2 span {
    font-family: BentonSansBold, "Arial Narrow", Arial, sans-serif; }

@media only screen and (min-width: 40.125em) {
    header .row,
    header .row.pad,
    .persistent-info .row,
    .persistent-info .row.pad {
        padding-left: 3rem;
        padding-right: 3rem; }

    .personal-info,
    .emergency-info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding-left: 0;
        padding-right: 0; }
    .personal-info:last-child,
    .emergency-info:last-child {
        margin-right: 0; }
    .personal-info h2,
    .emergency-info h2 {
        margin-bottom: 0rem;
        padding-bottom: 0;
        font-size: 1.475rem; }
    .personal-info p,
    .personal-info ul,
    .emergency-info p,
    .emergency-info ul {
        padding-right: 1rem;
        font-size: 0.875rem; }
    .personal-info p,
    .emergency-info p {
        margin-top: 0; }

    header h1 {
        font-size: 1.875rem; }
    header p {
        font-size: 0.875rem; }

    .js .personal-info h2:after,
    body:not(.home) .emergency-info h2:after {
        content: none; }
    .js .personal-info h2.open:after,
    body:not(.home) .emergency-info h2.open:after {
        content: none; }

    .personal-info {
        padding-top: 1.5rem;
        margin-left: -102.35765%; }
    .personal-info h2 {
        margin-top: 0.2rem;
        padding-top: 0;
        cursor: inherit; }

    body.home .emergency-info,
    body:not(.home) .emergency-info {
        padding-top: 1.5rem;
        margin-left: 51.17883%;
        border-bottom: none; }
    body.home .emergency-info h2,
    body:not(.home) .emergency-info h2 {
        margin-top: 0.2rem;
        padding-top: 0; }

    .persistent-info {
        padding-bottom: 0; } }
#footer {
    background-color: #fff; }

/* All page styles */
.light-tan {
    background-color: #E4E4E4; }

.crimson {
    background-color: #990000;
    color: #fff; }

.inner-wrap {
    margin-top: -15px;
    background: #f8f2e1 url("../img/wing-tile.png"); }
.inner-wrap .row {
    background-color: #fff; }

.nav-secondary .row {
    background-color: transparent; }

.accordion {
    margin-bottom: 0.3rem;
    background: transparent; }

.section-header {
    padding: 0.3rem 0.75rem; }
.section-header p {
    margin-top: 8px;
    margin-bottom: 8px; }

/* Section */
.section-dropdown,
.section-confirm {
    padding: 1rem 0; }

.button.back,
.button.next {
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto; }
.button.back.disabled,
.button.next.disabled {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    color: #000;
    cursor: default; }

.button.back {
    float: left; }

.button.next {
    float: right; }

.inner-wrap > section:last-of-type {
    margin-top: -40px;
    padding-bottom: 0; }
.inner-wrap > section:last-of-type > .row:last-child {
    padding-bottom: 56px; }

/* Breadcrumbs */
.steps {
    padding: 0; }
.steps ul {
    margin: 0;
    padding: 0.75rem 0.75rem;
    background: #990000;
    color: #fff; }
.steps li {
    display: none; }
.steps li.current-step {
    display: block; }

/* Instructions */
.instructions {
    padding-top: 1rem; }

@media only screen and (min-width: 40.125em) {
    .section-dropdown {
        margin: 0 auto;
        width: 40%; }
    .section-dropdown select {
        background-size: 40px; }

    /* Instructions */
    .instructions,
    .section-confirm {
        padding-left: 2.25rem;
        padding-right: 2.25rem; }

    .schedule-appointments .section-dropdown {
        margin: 0 0 0 32px; }

    /* Confirmation Information */
    .section-confirm ul {
        font-size: 1rem; }

    /* Extra padding on rows */
    .row.pad.extra-padding {
        padding-left: 3rem;
        padding-right: 3rem; } }
@media only screen and (min-width: 64.125em) {
    .inner-wrap > section:last-of-type {
        margin-top: -56px; } }
/* Breadcrumbs */
.steps {
    padding: 0; }
.steps ul {
    margin: 0;
    padding: 0.75rem 0.75rem;
    background: #990000;
    color: #fff; }
.steps li {
    display: none; }
.steps li.current-step {
    display: block; }

@media only screen and (min-width: 40.125em) and (max-width: 48em) {
    .steps ul {
        padding-left: 3rem;
        padding-right: 3rem; } }
@media only screen and (min-width: 48em) {
    .steps ul {
        padding: 0;
        background-color: transparent; }
    .steps ul:after {
        content: "";
        display: table;
        clear: both; }
    .steps li {
        display: block;
        position: relative;
        padding: 0.75rem 3rem;
        font-size: 1rem;
        float: left;
        color: #000;
        background-color: #c6c3bc;
        width: 33.3333%; }
    .steps li.current-step {
        color: #fff;
        background-color: #990000; }
    .steps li.current-step:after {
        content: "";
        position: absolute;
        background-image: url("../img/red-arrow-small.png");
        width: 25px;
        height: 49px;
        top: 0;
        right: -24px;
        z-index: 6; }
    .steps li:before {
        content: "";
        position: absolute;
        background-image: url("../img/tan-arrow-small.png");
        width: 25px;
        height: 49px;
        top: 0;
        left: -1px;
        z-index: 5; }
    .steps li:first-child:before, .steps li:last-of-type:after, .steps li.current-step:last-of-type:after {
        background: none; } }
@media only screen and (min-width: 64.125em) {
    .inner-wrap > section:last-of-type {
        margin-top: -56px; }

    .steps li {
        font-size: 1.25rem; }
    .steps li:before {
        background-image: url("../img/tan-arrow.png");
        width: 28px;
        height: 56px;
        z-index: 5; }
    .steps li.current-step:after {
        background-image: url("../img/red-arrow.png");
        width: 28px;
        height: 56px;
        right: -27px;
        z-index: 6; } }
/* Home page */
.home {
    /* Tablesaw */ }
.home .new-appointment p,
.home .existing-appointments p {
    font-size: 1.25rem;
    font-family: BentonSansLightRegular, "Arial Narrow", Helvetica, sans-serif; }
.home .new-appointment div:after,
.home .existing-appointments div:after {
    content: "";
    display: table;
    clear: both; }
.home .new-appointment:after,
.home .existing-appointments:after {
    content: "";
    display: table;
    clear: both; }
.home .new-appointment {
    padding: 0.3rem 0.75rem;
    background-color: #C6C3BC; }
.home .new-appointment div {
    float: left;
    width: 60%; }
.home .new-appointment div:last-of-type {
    width: 40%; }
.home .new-appointment p,
.home .new-appointment .button {
    display: inline-block; }
.home .new-appointment p {
    margin-top: 8px;
    margin-bottom: 0; }
.home .new-appointment .button {
    float: right;
    font-size: 1.3rem;
    font-family: BentonSansRegular, Arial, Helvetica, sans-serif;
    width: auto; }
.home .tablesaw-container {
    padding: 1rem 0.75rem; }
@media (max-width: 47.9375em) {
    .home .tablesaw-container .tablesaw-stack thead td,
    .home .tablesaw-container .tablesaw-stack thead th {
        display: none; }
    .home .tablesaw-container .tablesaw-stack tbody td,
    .home .tablesaw-container .tablesaw-stack tbody th {
        clear: left;
        float: left;
        width: 100%; }
    .home .tablesaw-container .tablesaw-cell-label {
        vertical-align: top; }
    .home .tablesaw-container .tablesaw-cell-content {
        max-width: 67%;
        display: inline-block; }
    .home .tablesaw-container .tablesaw-stack td:empty,
    .home .tablesaw-container .tablesaw-stack th:empty {
        display: none; } }
@media (min-width: 48em) {
    .home .tablesaw-container {
        /* Show the table header rows */
        /* Hide the labels in each cell */ }
    .home .tablesaw-container .tablesaw-stack tr {
        display: table-row; }
    .home .tablesaw-container .tablesaw-stack td,
    .home .tablesaw-container .tablesaw-stack th,
    .home .tablesaw-container .tablesaw-stack thead td,
    .home .tablesaw-container .tablesaw-stack thead th {
        display: table-cell;
        margin: 0; }
    .home .tablesaw-container .tablesaw-stack td .tablesaw-cell-label,
    .home .tablesaw-container .tablesaw-stack th .tablesaw-cell-label {
        display: none !important; } }
.home .tablesaw-container table thead {
    background: transparent; }
.home .tablesaw-container table tr.even,
.home .tablesaw-container table tr:nth-of-type(even) {
    background: #fff; }
.home .tablesaw-container th.sorting:hover,
.home .tablesaw-container th.sorting_asc:hover,
.home .tablesaw-container th.sorting_desc:hover {
    background-color: transparent; }
.home .tablesaw-container th.sorting:after,
.home .tablesaw-container th.sorting_asc:after,
.home .tablesaw-container th.sorting_desc:after {
    position: absolute;
    margin-top: 1px;
    padding-left: 12px; }
.home .tablesaw-container th.sorting:after {
    content: url("../img/sort-down-arrow.png"); }
.home .tablesaw-container th.sorting_asc:after {
    content: url("../img/sort-up-arrow.png"); }
.home .tablesaw-container th.sorting_desc:after {
    content: url("../img/sort-down-arrow.png"); }
.home .tablesaw-container th.sorting:last-child {
    cursor: auto;
    outline: none; }
.home .tablesaw-container th.sorting:last-child:after {
    content: none; }
.home .tablesaw tr th:last-of-type {
    min-width: 15%; }
.home .tablesaw tr td:last-of-type a {
    display: block;
    line-height: 1.6; }
.home #pastAppts_filter,
.home #pastAppts_info {
    display: none; }

@media only screen and (min-width: 40.125em) {
    .home .new-appointment,
    .home .existing-appointments {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem; }
    .home .new-appointment p,
    .home .existing-appointments p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.875rem; }
    .home .new-appointment div,
    .home .existing-appointments div {
        padding-right: 40px;
        float: left;
        border-right: 1px solid #fff;
        width: 50%; }
    .home .new-appointment div:last-of-type,
    .home .existing-appointments div:last-of-type {
        padding-right: 0;
        width: 50%;
        border-right: none; }
    .home .new-appointment p,
    .home .existing-appointments p {
        float: right;
        text-align: right; }
    .home .new-appointment .button,
    .home .existing-appointments .button {
        display: block;
        margin: 0.1rem auto;
        float: none;
        font-size: 2rem;
        width: 50%; } }
@media only screen and (min-width: 48em) {
    .dataTable thead tr {
        border-bottom: 3px double #dfdfdf; }
    .dataTable th {
        cursor: pointer; }
    .dataTable .sorting:hover {
        background-color: #e8e8e8; }

    .dataTables_processing {
        position: absolute;
        margin-right: 12px;
        right: 0;
        top: 112px; } }
@media only screen and (min-width: 64.063em) {
    .home .tablesaw-container {
        padding-left: 6rem;
        padding-right: 6rem; }

    .dataTables_processing {
        margin-right: 96px; } }
.schedule-appointments {
    margin-bottom: 0; }
.schedule-appointments .step {
    margin-top: 1rem;
    margin-right: 8px;
    float: left;
    background-color: #990000;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    width: 24px; }
.schedule-appointments .step.block {
    display: block;
    float: none; }
.schedule-appointments .step + label {
    margin-top: 18px; }
.schedule-appointments label {
    font-size: 1rem;
    cursor: inherit; }
.schedule-appointments.column, .schedule-appointments.columns {
    padding-left: 0;
    padding-right: 0; }
.schedule-appointments .timeslots {
    margin-top: 16px; }

.time-of-day {
    margin: 0;
    margin-bottom: 16px; }
.time-of-day li {
    display: block;
    padding: 0.3rem 0.5rem;
    float: left;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    text-align: center; }
.time-of-day li a:hover {
    text-decoration: none; }
.time-of-day li a {
    color: #000; }
.time-of-day .active {
    background-color: #990000;
    border: 1px solid #990000; }
.time-of-day .active a {
    color: #fff; }

.available-timeslots {
    margin-bottom: 24px; }
.available-timeslots .morning > div,
.available-timeslots .afternoon > div {
    float: left;
    padding: 0.4rem 0.5rem;
    background-color: #990000;
    color: #fff;
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
    font-size: 0.9rem;
    text-align: center;
    width: 25%;
    cursor: pointer; }
.available-timeslots .morning > div:hover,
.available-timeslots .afternoon > div:hover {
    background-color: #660000; }
.available-timeslots .morning > div a,
.available-timeslots .afternoon > div a {
    color: #fff; }
.available-timeslots .morning > div a:hover,
.available-timeslots .afternoon > div a:hover {
    text-decoration: none; }
.available-timeslots .morning > .past_time,
.available-timeslots .afternoon > .past_time {
    background-color: #e4e4e4;
    color: #000;
    cursor: default; }
.available-timeslots .morning > .past_time a,
.available-timeslots .afternoon > .past_time a {
    color: #000; }
.available-timeslots .morning > .past_time a:hover, .available-timeslots .morning > .past_time:hover,
.available-timeslots .afternoon > .past_time a:hover,
.available-timeslots .afternoon > .past_time:hover {
    cursor: default; }
.available-timeslots .morning > .past_time:hover,
.available-timeslots .afternoon > .past_time:hover {
    background-color: #e4e4e4; }
.available-timeslots .morning > div:nth-child(4n),
.available-timeslots .afternoon > div:nth-child(4n) {
    margin-right: 0; }
.available-timeslots .morning > div:nth-child(4n+1),
.available-timeslots .afternoon > div:nth-child(4n+1) {
    margin-left: 0;
    border-left: 0;
    clear: left; }
.available-timeslots .morning:after,
.available-timeslots .afternoon:after {
    content: "";
    display: table;
    clear: both; }
.available-timeslots .morning .selected,
.available-timeslots .morning .selected:hover,
.available-timeslots .afternoon .selected,
.available-timeslots .afternoon .selected:hover {
    background-color: #1a0000; }
.available-timeslots #error,
.available-timeslots #warning {
    margin-bottom: 16px; }

@media only screen and (min-width: 40.125em) {
    .schedule-appointments.column {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
    .schedule-appointments.column:last-child {
        margin-right: 0; }
    .schedule-appointments.column {
        padding-left: 2.25rem; }
    .schedule-appointments.column:last-child {
        padding-right: 2.25rem; }
    .schedule-appointments .section-dropdown {
        margin: 8px 0 0 0 !important;
        width: auto; }
    .schedule-appointments .timeslots {
        margin-top: 24px; }
    .schedule-appointments .timeslots .step {
        margin-top: 0; }
    .schedule-appointments .timeslots .time-of-day {
        margin-top: 0.65rem; }
    .schedule-appointments .step.times,
    .schedule-appointments .step + label.times {
        margin-top: 9.3rem; } }
@media only screen and (max-width: 48em) {
    .schedule-appointments .row .step {
        margin-bottom: 0.5rem; }

    .calendar,
    .timeslots {
        display: block;
        width: 100%; } }
@media only screen and (min-width: 48em) {
    .schedule-appointments:after {
        content: "";
        display: table;
        clear: both; } }
.calendar {
    margin-bottom: 16px; }
.calendar a {
    color: #000; }

.ui-datepicker-header {
    margin-top: 16px;
    position: relative;
    text-align: center; }
.ui-datepicker-header .ui-datepicker-prev .ui-icon,
.ui-datepicker-header .ui-datepicker-next .ui-icon {
    position: absolute;
    text-indent: -99999px; }
.ui-datepicker-header .ui-datepicker-prev {
    position: absolute;
    left: 56px; }
.ui-datepicker-header .ui-datepicker-prev:after {
    content: url("../img/calendar-left-arrow.png"); }
.ui-datepicker-header .ui-datepicker-next {
    position: absolute;
    right: 56px; }
.ui-datepicker-header .ui-datepicker-next:after {
    content: url("../img/calendar-right-arrow.png"); }
.ui-datepicker-header .ui-datepicker-title {
    margin: 0 auto;
    width: 200px; }

.ui-datepicker-calendar {
    margin-top: 10px; }
.ui-datepicker-calendar tr:nth-of-type(even) {
    background: #fff; }
.ui-datepicker-calendar td {
    border: 1px solid #e4e4e4;
    cursor: pointer; }
.ui-datepicker-calendar td.ui-datepicker-current-day:hover {
    background-color: #990000; }
.ui-datepicker-calendar td:hover {
    background-color: #660000; }
.ui-datepicker-calendar td:hover a {
    color: #fff; }
.ui-datepicker-calendar .ui-datepicker-current-day {
    background-color: #990000; }
.ui-datepicker-calendar .ui-datepicker-current-day a {
    color: #fff; }

.current-day,
.selected-day,
.unavailable-day {
    margin-bottom: 0;
    text-align: right; }
.current-day .legend,
.selected-day .legend,
.unavailable-day .legend {
    position: absolute;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    right: 0; }
.current-day .text,
.selected-day .text,
.unavailable-day .text {
    margin-right: 1.5rem;
    font-size: 0.875rem; }

.current-day .legend {
    background-color: #cc0000; }

.selected-day .legend {
    background-color: #990000; }

.unavailable-day .legend {
    background-color: #E4E4E4;
    border: 1px solid #a1a1a1; }

td.ui-datepicker-unselectable:hover {
    background-color: #e4e4e4;
    cursor: inherit; }

@media only screen and (min-width: 40.125em) {
    .calendar {
        margin-bottom: 32px; }

    .current-day .legend,
    .selected-day .legend,
    .unavailable-day .legend {
        margin-top: 9px; } }
@media only screen and (min-width: 56.25em) {
    .ui-datepicker-header .ui-datepicker-prev {
        left: 96px; }
    .ui-datepicker-header .ui-datepicker-next {
        right: 96px; } }
.ui-datepicker-unselectable {
    background-color: #E4E4E4; }

.settings {
    margin-top: 0 !important;
    padding-top: 0; }
.settings .row > div {
    background-color: #E4E4E4; }
.settings .column {
    padding: 0.75rem; }
.settings .column h2,
.settings .column p {
    margin-bottom: 0; }
.settings .column h2 {
    font-family: BentonSansLightRegular, "Arial Narrow", Helvetica, sans-serif; }
.settings .column input[type="checkbox"] {
    margin: 5px 12px 1rem 0;
    float: left; }
.settings .column:nth-child(1) {
    background-color: #C6C3BC; }
.settings:after {
    content: "";
    display: table;
    clear: both; }
.settings .submit .button {
    width: auto; }

@media only screen and (min-width: 40.125em) {
    .settings {
        margin-bottom: 0; }
    .settings .row > div {
        display: flex;
        align-items: stretch; }
    .settings .column {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0;
        padding: 1.25rem 1.5rem;
        width: 50%; }
    .settings .column:last-child {
        margin-right: 0; }
    .settings .column h2 {
        font-size: 1.75rem;
        text-align: right; }
    .settings .column p {
        font-size: 0.875rem; }
    .settings .column:nth-child(1) {
        padding-right: 24px; }
    .settings .column:nth-child(2) {
        padding-left: 24px; }
    .settings .submit {
        min-height: 300px; }
    .settings .submit .button {
        margin-top: 1rem;
        float: right; } }
/* Error Pages */
#error,
#warning,
.alert,
.alert-info {
    padding: 0.25rem 0.5rem; }

#error {
    background-color: #ff9494;
    color: #990000; }
#error .row:first-child {
    padding-top: 24px; }

#warning {
    background-color: #FEEFB3;
    color: #9F6000; }

.row > .alert-info,
.row > .alert {
    margin-top: 1.5rem; }

.alert-info,
#sessioncounter {
    background-color: #BDE5F8;
    color: #054781; }

/* Session Counter */
#sessioncounter {
    padding: 0.5rem 1rem; }
#sessioncounter p {
    font-size: 1.5rem;
    line-height: 1.3; }
#sessioncounter p span {
    font-weight: bold; }
#sessioncounter p:last-of-type {
    margin-bottom: 0; }

@media only screen and (min-width: 642px) {
    .row > .alert-info,
    .row > .alert {
        margin-left: 2.25rem;
        margin-right: 2.25rem; }

    #sessioncounter {
        margin-left: 2.25rem;
        margin-right: 2.25rem; } }
.belt .row {
    background-color: #4A3C31; }
.belt .row a:not(.button) {
    color: #fff; }

#content {
    padding-bottom: 0; }
#content > *:last-child {
    padding-bottom: 40px; }
